PORT=8080
AUTH_REQUIRED=false
AUTH_TOKEN=development-token
APPLICATION_SERVICE_URL=http://application-service:80
CANDIDATE_SERVICE_URL=http://candidate-service:80
JOB_SERVICE_URL=http://job-service:80
